{% extends 'base.html.twig' %}

{% block title %}Cambiar contraseña{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login/login.css') }}">

{% endblock %}

{% block body %}
<div class="login-page">
        <div class="bubbles"></div>

    <div class="login-card">

        <h1 class="login-title">
            Bienvenido {{ app.user.personal.nombre }}

        </h1>

        <p style="text-align:center; margin-bottom:1.5rem;">
            Es importante que usted actualice su contraseña con una que sea fácil de recordar para usted.
        </p>

        {% if error %}
            <div class="login-alert">
                {{ error }}
            </div>
        {% endif %}

        

        <form method="post" class="login-form">

            <div class="login-group">
                <label for="password">Nueva contraseña</label>
                <input
                    type="password"
                    name="password"
                    id="password"
                    required
                >
            </div>

            <div class="login-group">
                <label for="password_confirm">Confirmar contraseña</label>
                <input
                    type="password"
                    name="password_confirm"
                    id="password_confirm"
                    required
                >
            </div>

            <button type="submit" class="login-button">
                Actualizar contraseña
            </button>

        </form>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/login/login.js') }}"></script>
{% endblock %}
