<turbo-frame id="content">

    <h1 class="mb-4">Crear nuevo PTA</h1>

    {{ form_start(form, {
        'action': path('app_encabezado_new'), 
        'attr': {
            'data-turbo': 'content' }
    }) }}

        <!-- ========================================================= -->
        <!-- 1. ENCABEZADO DEL PTA -->
        <!-- ========================================================= -->
        <div class="row g-3">

            <div class="col-md-6">
                {{ form_label(form.nombre) }}
                {{ form_widget(form.nombre) }}
                {{ form_errors(form.nombre) }}
            </div>

            <div class="col-md-6">
                {{ form_label(form.objetivo) }}
                {{ form_widget(form.objetivo) }}
                {{ form_errors(form.objetivo) }}
            </div>
        </div> <br><br>

        <!-- ========================================================= -->
        <!-- 3. INDICADORES -->
        <!-- ========================================================= -->
        <div class="card pta-card mb-4">

            <h4 class="pta-title">
                <i class="bi bi-graph-up"></i> 3. Indicadores
            </h4>

            <table class="table table-dark table-striped align-middle pta-indicadores-table">
                <colgroup>
                    <col style="width: 37%">  {# Indicador #}
                    <col style="width: 37%">  {# Fórmula #}
                    <col style="width: 5%">   {# Valor a alcanzar #}
                    <col style="width: 8%">  {# Periodo #}
                    <col style="width: 8%">  {# Tendencia #}
                    <col style="width: 5%">   {# Acciones #}
                </colgroup>

                <thead>
                    <tr>
                        <th>Indicador</th>
                        <th>Fórmula</th>
                        <th>Meta</th>
                        <th>Periodo</th>
                        <th>Tendencia</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody 
                    data-collection-holder="indicadores"
                    data-prototype="{{ form_widget(form.indicadores.vars.prototype)|e('html_attr') }}">

                    
                </tbody>
            </table>

            <div class="text-center my-3">
                <button type="button"
                        class="btn btn-success px-5"
                        id="add-indicador">
                    <i class="bi bi-plus-circle"></i> Agregar Indicador
                </button>
            </div>


        </div>


        <!-- ========================================================= -->
        <!-- 4. ACCIONES -->
        <!-- ========================================================= -->
        <div class="card pta-card mb-4">

            <h4 class="pta-title">
                <i class="bi bi-list-task"></i> 4. Acciones del Proyecto
            </h4>

            <table class="table table-dark table-striped align-middle pta-acciones-table">
                <colgroup>
                    <col style="width: 25%">  {# Indicador #}
                    <col style="width: 45%">  {# Acción #}
                    <col style="width: 25%">  {# Meses de ejecución #}
                    <col style="width: 5%">   {# Acciones #}
                </colgroup>

                <thead>
                    <tr>
                        <th>Indicador</th>
                        <th>Acción</th>
                        <th>Periodo</th>
                        <th></th>
                    </tr>
                </thead>


                <tbody 
                    data-collection-holder="acciones"
                    data-prototype="{{ form_widget(form.acciones.vars.prototype)|e('html_attr') }}">

                    
                </tbody>
            </table>

            <div class="text-center my-3">
                <button type="button"
                        class="btn btn-success px-5"
                        id="add-accion">
                    <i class="bi bi-plus-circle"></i> Agregar Acción
                </button>
            </div>


        </div>

        <!-- ========================================================= -->
        <!-- 2. RESPONSABLES -->
        <!-- ========================================================= -->
        <div class="card pta-card mb-4">
            <h4 class="pta-title">
                <i class="bi bi-people-fill"></i> 2. Responsables del Proyecto
            </h4>
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="position-relative">
                        <label class="form-label">Supervisor del Proyecto</label>

                        {{ form_widget(form.responsables.supervisor_search, {
                            attr: {
                                class: 'form-control supervisor-search',
                                placeholder: 'Buscar supervisor...'
                            }
                        }) }}

                        {{ form_widget(form.responsables.supervisor) }}

                        <div class="search-results supervisor-results"></div>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="position-relative">
                        <label class="form-label">Aval del Proyecto</label>

                        {{ form_widget(form.responsables.aval_search, {
                            attr: {
                                class: 'form-control aval-search',
                                placeholder: 'Buscar aval...'
                            }
                        }) }}

                        {{ form_widget(form.responsables.aval) }}

                        <div class="search-results aval-results"></div>
                    </div>

                </div>
            </div>
        </div>


        <!-- Agregamos el Token CSRF a mano ya que se rompe con todo el movimiendo del Dom con js -->
        {{ form_row(form._token) }}


        <!-- BOTÓN FINAL -->
        <div class="text-center mt-4">
            <button type="submit"
                    class="btn btn-primary px-5">
                Guardar PTA
            </button>
        </div>


        <div class="modal fade" id="erroresModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content bg-dark text-light border-warning">
                    <div class="modal-header">
                        <h5 class="modal-title text-warning">
                            <i class="bi bi-exclamation-triangle"></i>
                            Errores en el formulario
                        </h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                    </div>

                    <div class="modal-body">
                        <p class="mb-2">
                            Se encontraron los siguientes problemas. Corrígelos antes de continuar:
                        </p>

                        <ul id="errores-lista" class="list-group list-group-flush">
                            <!-- errores dinámicos -->
                        </ul>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Entendido
                        </button>
                    </div>
                </div>
            </div>
        </div>



    {{ form_end(form, { render_rest: false }) }}

</turbo-frame>
